<table class="display dataTable nowrap table table-bordered" id="grnItemTable" style="margin-left: 0 !important;">
        <thead>
            <tr>
                <td>Item Code</td>
                <td>Item Name</td>
                <td>Part Number</td>
                <td>UOM</td>
                <td>DC Qty</td>
                <td>Qty Received</td>
                <td>Location</td>
                <td>Cost Level1</td>
                <td>Cost Level2</td>
                <td> Batch Code </td>
                <td> Lot Number </td>
                <td> Manufacturing Date/Receive Date</td>
                <td>Expiry Date / Warranty Date</td>
                <td>MRP</td>
                <td>Rejected QC</td>
                <td>Accepted Date</td>
                <td>PO Bal. Qty</td>
                <td>PO Rate</td>
                <td>Purchase Order Note</td>
                <td>Voucher Code</td>
                <td>Voucher Number</td>
                <td>Voucher Date</td>
            </tr>
        </thead>
        <tbody>
    
        </tbody>
    </table>