
<table class="display dataTable nowrap table table-bordered" id="scheduleGrid" style="margin-left: 0 !important;">
    <thead>
        <tr>
            <td>Item Name</td>
            <td>Sched.Date</td>
            <td>Sched. Qty</td>
            <td>Pending Qty</td>
            <td> Received Qty</td>
            <td> Accepted Qty</td>
            <td>Purchase Indent</td>
            <td>Status</td>
            <td>Mode Of Transport</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table> 