<table class="display dataTable nowrap table table-bordered" id="grnacceptItemSchedule" style="margin-left: 0 !important;width: 100%">
    <thead>
        <tr>
            <td>Schedule Item Name</td>
            <td>Schedule Date</td>
            <td> Schedule Qty</td>
            <td>Pending Qty</td>
            <td>Received Qty</td>
            <td>Accepted Qty</td>
            <td>Purchase Indent</td>
            <td>Status</td>
            <td>Mode of Transport</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>